<body class="body-show">
<div class="show-flash"><%= flash[:notice] %></div>

<p class="show-title"><strong>Title:</strong><%= @book.title %></p>

<p class="show-body"><strong>Body:</strong><%= @book.body %></p>

<p><%= link_to 'Edit', edit_book_path %> | <%= link_to 'Back', books_path %></p>
</body>